# Runtime requirements
--requirement requirements.txt

# Packaging
pip
setuptools
wheel
twine

# Docs
mkdocs
mkdocstrings[python]
mkdocs-autorefs
mkdocs-material
mkdocs-material-extensions
mkdocstrings
pygments

# Linting/Tooling
black>=23.0
flake8>=6.0
isort>=5.12
mypy>=1.0
pre-commit>=3.1
pylint>=2.16
mypy-extensions

# Testing
pytest
codecov
pytest-cov
tox
