# Packaging
setuptools
wheel
twine

# Docs
mkdocs
mkdocs-material
mkdocstrings
pygments

# Linting/Tooling
pylint
flake8
flake8-bugbear
flake8-comprehensions
mypy
mypy-extensions
pydantic
isort
black==21.4b0
pre-commit
autopep8

# Testing
pytest
codecov
pytest-cov
tox
