# TensorFlow Libraries
tensorflow==2.3.1
tensorflow-datasets==4.1.*
tensorflow-addons==0.11.*
# Other Libraries
scikit-learn==0.23.*
seaborn==0.10.*
scipy==1.4.*
scikit-image==0.17.*
numpy==1.18.*
matplotlib==3.3.*
pandas==1.1.*

# Linting/Tooling
pylint
flake8
mypy
isort
black
autopep8
pre-commit

# Testing
pytest
codecov
pytest-cov
tox
pre-commit
pytest-benchmark

# Documentation
Sphinx
Pygments
numpydoc
sphinx_rtd_theme
