# TensorFLow Libraries
tensorflow==2.4.0
tensorflow-datasets

# Libraries
scikit-learn
scipy
numpy==1.18.*

# Linting/Tooling
pylint
flake8
mypy
isort
black
autopep8
pre-commit

# Testing
pytest
codecov
pytest-cov
tox

# Packaging
twine
